body{
    position: relative;
}

.blob {
    position: absolute;

    width: 90rem;
    height: 90rem;
    
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: blobMorph 8s infinite ease-in-out;
}




.blob-yellow{
     background: rgb(134, 93, 238) ;

}
@keyframes blobMorph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    25% {
        border-radius: 50% 60% 35% 65% / 55% 40% 60% 45%;
    }
    50% {
        border-radius: 70% 30% 40% 60% / 50% 60% 40% 50%;
    }
    75% {
        border-radius: 60% 50% 60% 40% / 40% 60% 50% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}