*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}
.main-content{
    display: flex;
    width: 100%;
 
    flex-direction: column;
 
 

}
body{
     background-color: rgb(235, 230, 255);
}

.title-container{
   
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    margin-left: 3%;


}
.title-container h2{
    font-weight: 600;
    font-size: 3em;
    margin: 0;
    padding: 0;
    
}
.title-container p{
     margin: 0;
     padding: 0;
     
    
}





a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top:10px;
}

.events-section{
 
    margin-top: 50px;

}
.events-container, .past-container{
    display: flex;
    box-sizing: border-box;
    margin-left: 8em;
  
  

}

.events-section h2, .history-section h2{
    font-size: clamp(20px, 4vw, 2em);
    font-weight: 550;
    margin-top: 80px;
    margin-left: 30px;
    margin-bottom: 30px;
}


@keyframes slide {
    0%{
        transform: translatex(-100%);
    }
    100%{
        transform: translatex(0);

    }
    
}
@keyframes slidedown {
    0%{
        transform: translatey(200%);
    }
    100%{
        transform: translatey(0);

    }
    
}
@keyframes slideup {
    0%{
        transform: translatey(-100%);
    }
    100%{
        transform: translatey(0);

    }
    
}

@keyframes flip {
    0%{
        transform: translateX(180deg);
    }
    100%{
        transform:translateX(360deg) ;

    }
    
}
p{
    margin: 2px;
    padding: 0;
}
.messages-container{
    width: 70%;
    height: 400px;
    padding: 50px;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    box-shadow: 6px 4px 5px rgba(0, 0, 0, 0.1);
}


.webinar-card{
    
    max-width: 18em;
    padding: 0;
    border-radius: 10px;
    margin-top: 40px;
    overflow-x: hidden;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
 
}
.webinar-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: #8a5cf680 solid 1px;
}

.webinar-contents{
    width: 90%;
    display: flex;
    margin-left: 20px;
    align-items: center;
    
    flex-direction: column;
    font-size: 14px;
}

.webinar-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  
  
  width: 100%;
  height: auto;
  object-fit: cover;

}
    


.img-container{
    position: relative;

    margin: 0;
    padding: 0;
    height: 12em;
    overflow: hidden;

}
.webinar-card .webinar-title{
    font-size: 16px;

    margin:.5em  0 .5em 0;
}

.date-time-cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: 500;
    color:grey;
    font-size: 12px;

  
}

.webinar-btn{
   
    width: 100%;
    display: flex;
    justify-content: right;

}
.webinar-detail{
    text-decoration: none;
    color:white;
    font-weight: 400;
    padding:5px;
    border-radius: 10px;
    margin-bottom: 20px;

    background: linear-gradient(135deg, #4f46e5, #8b5cf6);
}


@media screen and (max-width:700px){
    .total-section{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;

        justify-content: space-evenly;
        
    }
    .container{
        margin-left: 6%;
    }


    .webinar-card{
        width: 80%;
    }





    
}