.main-content{
    display: flex;
    width: 100vw;
    background-color: rgb(235, 230, 255);
    flex-direction: column;

}
body{
     background-color: rgb(235, 230, 255);
}

.title-container{
   
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;


}
.title-container h2{
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    padding: 0;
    
}
.title-container p{
     margin: 0;
     padding: 0;
     
    
}



.total-section{
    
   
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.total{
    border-image: linear-gradient(to right, rgb(49, 51, 168), rgb(136, 27, 199)) 1;
    border-top: 6px solid ;
    margin: 0;
    padding: 5px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 100px;
    font-weight: 600;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.5s ease-in-out;;
}

.total:hover{
    width: 40px;
    cursor: default;

    
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top:10px;
}
.total-card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 4px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    animation: slideup .5s ease-out forwards;

}


.total-section h2{
     font-size: 30px;
     
}
.events-section{
 
    margin-top: 50px;

}
.events-container, .past-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  

}

.events-section h2, .history-section h2{
    font-size: 30px;
    font-weight: 550;
    margin-top: 80px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.webinar-card{
    width: 814px;
    height: 274px;
    filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border: 1px solid  #E2C4C4;
    margin: 20px;
    animation: slidedown .5s ease-out forwards;

 

}
.webinar-banner{
    width: 340px;
    height: auto;



}
.webinar-contents{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 420px;
    margin-left: 20px;
    margin-top: 10px;

}
.webinar-card h4{
    font-size: 25px;
    font-weight: 600;

}

.webinar-btn-container{
 
    width: 420px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 80px;

}

.webinar-btn{
    
    background: linear-gradient(135deg, #4f46e5, #8b5cf6);
    border-radius: 8px;
    width: 149px;
    height: 41px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color:white;

}
.webinar-btn:hover{
    transition: transform .3s ease-in-out;
    transform: scale(1.1);

}
@keyframes slide {
    0%{
        transform: translatex(-100%);
    }
    100%{
        transform: translatex(0);

    }
    
}
@keyframes slidedown {
    0%{
        transform: translatey(200%);
    }
    100%{
        transform: translatey(0);

    }
    
}
@keyframes slideup {
    0%{
        transform: translatey(-100%);
    }
    100%{
        transform: translatey(0);

    }
    
}

@keyframes flip {
    0%{
        transform: translateX(180deg);
    }
    100%{
        transform:translateX(360deg) ;

    }
    
}
p{
    margin: 2px;
    padding: 0;
}
.messages-container{
    width: 70vw;
    height: 400px;
    padding: 50px;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    box-shadow: 6px 4px 5px rgba(0, 0, 0, 0.1);
}