/*topbar*/

.topbar {
    position: relative;
    top: 0;
    left: 0; 
    right: 0;
    height: 64px;
    background-color: #2D3748;
    
    box-shadow: 0 8px 8px rgba(0,0,0,0.05);
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 24px;
    color:white;
}


.bell {
    width: 24px;
    color: white;
}


.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.notification-icon img {
    cursor: pointer;
}


.notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}

/*sidebar*/
.app-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    z-index: 200;
    flex-shrink: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    
}

.logo img {
    width: 30px;
    height: auto;
}

.logo h2 {
    font-size: 22px;
    color: #1f1f1f;
    margin: 0;
    font-weight: 600;
}

/* Navigation */
.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-item {
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background 2s ease-in, color 2s ease-in;
    
}

.nav-item:hover {
    background-color: #f0f0f0;
}

.nav-item.active {
    background: linear-gradient(135deg, #4f46e5, #8b5cf6);
    color: #fff;
    font-weight: bold;
    animation: flip 1.5s ease
    
}

@keyframes flip {
    0%{

    }
    100%{
        transform: rotatex(360deg);

    }
    
}

.logout{
    text-align: center;
    margin-top: auto;
}
.logout a {
    
  
    color: #999;
    cursor: pointer;
}

.logout a img{
    height: 20px;
    width: auto;
}




/*foot*/


footer {
    background-color: #1f1f1f;
    color: #fff;
    padding: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #444;
}

footer a {
    color: #9fc3ff;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}





